.hero-section {
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  padding: 0 1rem; 
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  color: var(--color-blue);
  text-align: center;
  margin: 0; 
}

p {
  font-size: 4rem;
  color: var(--color-black);
  font-weight: 900;
  text-align: center;
  margin: 2rem;
}

.cta-button {
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 3rem;
  font-size: 2rem;
  background-color: var(--color-primary);
  color: var(--color-background);
  display: flex;
  padding: 2rem;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}


.cta {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color-white);
}

.button {
  text-transform: capitalize;
  text-decoration: none;
  font-size: 2rem;
}




@media (max-width: 768px) {
  h1 {
    font-size: 4rem; 
  }

  p {
    font-size: 2.5rem; 
    margin: 1.5rem; 
  }

  .cta-button {
    padding: 1.5rem; 
    font-size: 1.8rem; 
  }

  .cta {
    font-size: 1.8rem; 
  }

  .button {
    font-size: 1.8rem; 
  }
}


@media (max-width: 480px) {
  .hero-section {
    height: 75vh; 
  }

  h1 {
    font-size: 3rem; 
  }

  p {
    font-size: 2rem; 
    margin: 1rem; 
  }

  .cta-button {
    padding: 1.2rem; 
    font-size: 1.6rem; 
  }

  .cta {
    font-size: 1.6rem; 
  }

  .button {
    font-size: 1.6rem; 
  }
}
