.footer {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 10px;
  text-align: center;
  font-size: 1.7rem;
}

.footer p {
  text-transform: capitalize;
  line-height: 2rem;
  font-size: 2rem;
}

.footer-logo-img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer-info p {
  margin: 5px 0;
  font-size: 1.8rem;
  color: var(--color-background);
  line-height: 4rem;
}

.footer-links {
  margin-top: 15px;
  color: var(--color-secondary);
}

.footer-link {
  color: var(--color-tersiary);
  font-size: 2rem;
  margin: 0 10px;
  display: inline-flex;
  padding: 1rem;
  border-radius: 50px;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.9);
}

.footer-link:hover {
  color: var(--color-footer);
}

.footer-link svg {
  margin-right: 8px;
}
