/* General styles for header navigation */
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centering the content vertically */
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 1rem 2rem; /* Add padding to make the header less cramped */
}

.logo-img {
  padding: 0;
  margin: 0 2rem;
  height: 100px; /* Adjust the size of the logo */
  width: 150px;
}

/* Logo text styling */
.logo-text {
  color: var(--color-footer);
  font-size: 3rem;
  text-transform: capitalize;
  margin: 0;
}

/* Styling for the navigation list */
.navigation-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 3rem;
  text-transform: capitalize;
  align-items: center; /* Center items vertically */
}

/* Styling for each navigation link */
.navigation-link {
  text-decoration: none;
  color: var(--color-white);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  transition:
    color 0.3s,
    background-color 0.3s;
  border-radius: 3px;
}

/* Hover effect for navigation links */
.navigation-link:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
}

/* Icon styling */
.nav-icon {
  font-size: 2.5rem;
  color: var(--color-tersiary);
}

/* Text under each icon */
.nav-text {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* Media query for responsiveness (screen width <= 900px) */
@media screen and (max-width: 56.25em) {
  /* Stack the navigation links vertically on smaller screens */
  .navigation-list {
    flex-direction: column;
    align-items: center; /* Center the items */
    gap: 1rem;
  }

  /* Center the logo in small screens */
  .logo-text {
    font-size: 2.5rem;
  }

  .navigation-item {
    width: 100%; /* Allow each navigation item to take full width */
    text-align: center; /* Center text inside the items */
  }
}
