@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

:root {
  --color-primary: #37005b;
  --color-secondary: #4b4376;
  --color-background: rgb(219, 211, 211);
  --color-tersiary: rgb(233, 0, 116);
  --color-header: #ae445a;
  --color-white: rgb(255, 255, 255);
  --color-blue: #1000b5;
  --color-footer: #e8bcb9;
  --color-black: #0d0d0d;
}

html {
  font-size: 62.5%;
  font-family: "Josefin Sans", sans-serif;
}

body {
  font-family: "Josefin Sans", serif;
}
