/* Background Styling */
.sign-up {
  background: url("../../assets/signup.jpg");
  background-size: cover;
  background-position: center;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Form Styling */
.signup-form {
  background-color: var(--color-header);
  padding: 3rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
}

.signup-form h2 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--color-white);
}

/* Label Styling */
.label {
  display: inline-block;
  width: 48%;
  margin: 0.5rem 1%;
  font-size: 1.3rem;
  text-align: left;
  color: var(--color-white);
}

/* Input Field Styling */
input[type="text"],
input[type="password"],
input[type="email"] {
  display: inline-block;
  width: 48%;
  margin: 0.5rem 1%;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-background);
  border-radius: 4px;
  text-align: center;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
  border-color: var(--color-secondary);
  outline: none;
}

/* Submit Button Styling */
button[type="submit"] {
  width: 100%;
  margin-top: 3rem;
  padding: 0.75rem;
  font-size: 1.2rem;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

button[type="submit"]:disabled {
  background-color: var(--color-background);
  cursor: not-allowed;
}

button[type="submit"]:hover:not(:disabled) {
  background-color: var(--color-tersiary);
}

/* Error and Success Message Styling */
.message {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.message.green {
  color: green;
}

.message.red {
  color: red;
}

/* Signup Prompt Styling */
.signup-prompt {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.signup-prompt a {
  color: var(--color-footer);
  text-decoration: none;
  font-size: 1.3rem;
}

.signup-prompt a:hover {
  text-decoration: underline;
}
